<section class="path" ng-repeat="data in datas.records">
    <header>
        <h2>{{data.fields.nomarretdepart}} - {{data.fields.nomarretarrivee}} (Ligne {{data.fields.idligne}})</h2>
    </header>
    <main class="path-data">
        <p class="path-label">{{data.fields.libellelong}}</p>
        <p class="path-length">Longueur&nbsp;: {{data.fields.longueur}} mètres</p>
    </main>
</section>
