*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  height: 100vh;
  max-width: 100%;
  overwrite: hidden;
}

body {
  font-family: 'Open Sans', Helvetica;
  font-size: 14px;
  background-color: #F9F9F9;
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
  overwrite: hidden;
}

a {
  text-decoration: none;
  color: #60B65E;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

.center, .center > * {
  text-align: center !important;
}

h1, h2, h3, h4 {
  text-align: initial;
}

body > header > * {
  display: inline-block;
  vertical-align: center;
  /*! max-width: 40%; */
}

body > header > h1 {
  margin-right: 40px !important;
}

body > header > nav {
  margin-left: 40px !important;
}

body > header > nav > form {
  margin: 0;
  padding: 0;
  display: inline-block;
}

body > header > nav > form > input {
  background-color: transparent;
  border: 1px solid #DEDEDE;
  padding: 10px 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

body > header > nav > form > input[type="text"] {
  border-right: none;
}

body > header > nav > form > input[type="submit"] {
  border-left: none;
  cursor: pointer;
}

body > header > nav > a {
  background-color: transparent;
  padding: 10px 15px;
  text-decoration: none;
  color: #3C3C3C;
}

body > header > nav > a.active {
  background-color: #F1F1F1;
}

body > header > nav > a:not(.active):hover, nav > form > input[type="submit"]:hover {
  background-color: #3C3C3C;
  color: #F1F1F1;
  cursor: pointer;
}

body > header > nav > a:not(:last-child) {
  margin-right: 5px;
}

body > header > nav > a {
  background-color: transparent;
  padding: 10px 15px;
  text-decoration: none;
  color: #3C3C3C;
  display: inline-block;
}

body > header, body > main, body > footer {
  width: 70%;
  margin: 0 auto;
  padding: 10px 15px;
}

section {
  padding: 10px 15px;
}

section.width-3 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

@media all and (min-width: 992px) {
    section.width-3 {
        width: 100%;
    }
}

@media all and (min-width: 1200px) {
    section.width-3 {
        width: 33.33%;
    }
}

aside, article {
  display: inline-block;
  vertical-align: top;
}

aside {
  max-width: 20%;
  max-height: 70%;
}

article {
  margin: 0 auto;
}

aside > p {
  display: inline-block;
  position relative;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

body > footer {
  /* position: absolute;
  bottom: 0; */
  margin-top: 40px;
  background-color: #232D32;
  color: #F1F1F1;
  bottom: 0;
  width: 100%;
  max-height: 30%;
  padding: 40px 20px;
}
